
config 2024_D1
	bool "--- Day 1: Historian Hysteria ---"
	source 2024/day1/Kconfig

config 2024_D2
	bool "--- Day 2: Red-Nosed Reports ---"
	source 2024/day2/Kconfig

config 2024_D3
	bool "--- Day 3: Mull It Over ---"
	source 2024/day3/Kconfig

config 2024_D4
	bool "--- Day 4: Ceres Search ---"
	source 2024/day4/Kconfig

config 2024_D5
	bool "--- Day 5: Print Queue ---"
	source 2024/day5/Kconfig

config 2024_D6
	bool "--- Day 6: Guard Gallivant ---"
	source 2024/day6/Kconfig

config 2024_D7
	bool "--- Day 7: Bridge Repair ---"
	source 2024/day7/Kconfig

config 2024_D8
	bool "--- Day 8: Resonant Collinearity ---"
	source 2024/day8/Kconfig

config 2024_D9
	bool "--- Day 9: Disk Fragmenter ---"
	source 2024/day9/Kconfig

config 2024_D10
	bool "--- Day 10: Hoof It ---"
	source 2024/day10/Kconfig

config 2024_D11
	bool "--- Day 11: Plutonian Pebbles ---"
	source 2024/day11/Kconfig

config 2024_D12
	bool "--- Day 12: Garden Groups ---"
	source 2024/day12/Kconfig

config 2024_D13
	bool "--- Day 13: Claw Contraption ---"
	source 2024/day13/Kconfig

config 2024_D14
	bool "--- Day 14: Restroom Redoubt ---"
	source 2024/day14/Kconfig
